// Place your Mapbox and Mapillary tokens and such here and rename this file to tokens.js
const mapbox_username = 'XXXXXXXXXXXXXXXXXXXX';
const mapbox_token = 'pk.XXXXXXXXXXXXXXXXXXXX';
const mapillary_token = 'XXX|XXXXXXXXXXXX|XXXXXXX';
